.header {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: space-between; /* Distribuye los elementos */
    width: 100%;
    font-size: 200%;
}

.left-icon {
    margin-right: 5px; /* Ajusta el espacio entre el icono y el texto */
}

#nombre {
    display: flex;
    align-items: center; /* Asegura que el texto esté alineado verticalmente */
    flex-grow: 1; /* Permite que el texto ocupe el espacio disponible */
}

.right-icon {
    font-size: 150%;
}

.principal {
    color: black;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #74ccfc;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "generador"
        "codigos";
}

.generador, .codigos {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
}

.generador {
    grid-area: generador;
    background-color: #64c4fc 
    ;
    display: flex;
    justify-content: space-between; /* Distribuye el texto y el ícono */
    align-items: center; /* Alinea verticalmente */
    padding: 0 10px; /* Añade un poco de padding para que no esté pegado a los bordes */
}

.codigos {
    grid-area: codigos;
    background-color: #64c4fc 
    ;
}

.gen {
    margin: 0; /* Elimina el margen por defecto del h1 */
}

#agregar {
    font-size: 200%; /* Ajusta el tamaño del ícono si es necesario */
}

.iconos{
    color: white;
}