<ion-header>
  <ion-toolbar>
    <div class="header">
      <div class="titulo">
        <ion-title> <ion-icon name="cog" class="cog"></ion-icon> Panel de administrador</ion-title>
      </div>
      <div class="control">
        <div class="botones">
          <ion-button class="btn-abrir" expand="full" (click)="abrirPorton()">Abrir Portón</ion-button>
          <ion-button fill="clear" class="exit" (click)="logout()"><ion-icon name="exit"></ion-icon></ion-button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="principal">
    <!-- Sección de Añadir Usuario -->
    <div class="anadir-usuarios">
      <h2>Añadir Usuario</h2>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="nuevoUsuario" placeholder="Ingrese el usuario a registrar"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="nuevaPassword" placeholder="Ingrese la contraseña"></ion-input>
    </ion-item>

      <ion-button expand="full" (click)="crearUsuario()" id="btn-registrar">Registrar</ion-button>
    </div>

    <!-- Sección de Registros -->
    <div class="registros">
      <div class="reg-entrada">Entrada</div>
      <div class="reg-salida">Salida</div>
    </div>
  </div>
<div class="usuarios">
  <h2>Lista de Usuarios</h2>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>{{ usuario.usuario }}</ion-label>
      <ion-button (click)="editarUsuario(usuario)">Editar</ion-button>
      <ion-button color="danger" (click)="eliminarUsuario(usuario._id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <!-- Formulario de edición -->
  <div *ngIf="editandoUsuario">
    <h2>Editar Usuario</h2>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="editandoUsuario.usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="editandoUsuario.password"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="guardarEdicion()">Guardar</ion-button>
    <ion-button expand="full" color="medium" (click)="editandoUsuario = null">Cancelar</ion-button>
  </div>
</div>
</ion-content>
