<ion-header>
  <ion-toolbar>
    <div class="header">
      <div class="titulo">
        <ion-title> <ion-icon name="cog" ion-hide="xs" class="cog"></ion-icon> Panel de administrador</ion-title>
      </div>
      <div class="control">
        <div class="botones">
          <ion-button fill="clear" class="btn-abrir" (click)="abrirPorton()">Abrir Portón</ion-button>
          <ion-button fill="clear" class="exit" (click)="logout()"><ion-img id="icono" src="../../assets/icon/exit.png"></ion-img></ion-button>
        </div>
      </div>
    </div>
    <!-- Botón para abrir el menú en móviles -->
    <ion-menu-button slot="end" class="mobile-menu"></ion-menu-button>
  </ion-toolbar>
</ion-header>

    <!-- Menú lateral que aparecerá en móvil -->
    <ion-menu contentId="main-content">
      <ion-toolbar><ion-title>Herramientas del administrador:</ion-title></ion-toolbar>
      <ion-content>
            <ion-button fill="clear" class="btn-abrir" (click)="abrirPorton()">Abrir Portón</ion-button>
            <br><ion-button fill="clear" class="exit" (click)="logout()"><ion-img id="icono" src="../../assets/icon/exit.png"></ion-img></ion-button>
      </ion-content>
    </ion-menu>

<ion-content id="main-content">

  <div class="principal">
    <!-- Sección de Añadir Usuario -->
    <div class="usuarios">
      <h2 class="titulo-con-icono">Añadir usuario <ion-icon name="person-add" class="iconos-registros"></ion-icon></h2>
        <ion-input label="Usuario" label-placement="floating" fill="outline" type="text" [(ngModel)]="nuevoUsuario" placeholder="Ingresar usuario" ></ion-input>
        <ion-input label="Contraseña" label-placement="floating" fill="outline" [(ngModel)]="nuevaPassword" placeholder="Ingrese la contraseña"></ion-input>
        <ion-button id="btnInicio" expand="full" (click)="crearUsuario()">Registrar usuario</ion-button>
    </div>

<!-- Añadir placas  -->
<div class="placas">
  <h2 class="titulo-con-icono">
    Añadir placas
    <ion-icon name="car" class="iconos-registros"></ion-icon>
  </h2>

  <ion-input label="Placas" label-placement="floating" fill="outline" type="text" [(ngModel)]="nuevaPlaca" placeholder="Ingrese las placas del vehículo"></ion-input>

  <ion-select label="Usuario propietario" label-placement="floating" fill="outline" [(ngModel)]="usuarioPropietario">
    <ion-select-option *ngFor="let usuario of usuariosDisponibles" [value]="usuario.usuario">
      {{ usuario.usuario }}
    </ion-select-option>
  </ion-select>

  <ion-button expand="full" (click)="registrarPlaca()" id="btnInicio">Registrar placas</ion-button>
</div>


<div class="tarjetas">
  <h2 class="titulo-con-icono">
    Añadir tarjeta
    <ion-icon name="card" class="iconos-registros"></ion-icon>
  </h2>
    <ion-input label="Tarjeta" label-placement="floating" fill="outline" position="floating" [(ngModel)]="nuevaTarjeta" placeholder="Ingrese el ID de la tarjeta"></ion-input>
  
    <ion-select label="Usuario propietario" label-placement="floating" fill="outline" [(ngModel)]="usuarioPropietario" placeholder="Seleccione un usuario">
      <ion-select-option *ngFor="let usuario of usuariosDisponibles" [value]="usuario.usuario">
        {{ usuario.usuario }}
      </ion-select-option>
    </ion-select>

  <ion-button expand="full" (click)="registrarTarjeta()" id="btnInicio">Registrar tarjeta</ion-button>
</div>

  </div>

  <!-- Sección de Registros -->
<!-- Sección de Registros -->
<div class="registros">
  <!-- Registros de Entrada -->
  <div class="reg-entrada">
    <h2>Entrada</h2>
    <div>
      <ion-grid>
        <ion-row id="row-header">
          <ion-col>Usuario</ion-col>
          <ion-col>Método</ion-col>
          <ion-col>Hora</ion-col>
        </ion-row>

        <ion-row *ngFor="let registro of registrosEntrada">
          <ion-col>{{ registro.usuario }}</ion-col>
          <ion-col>{{ registro.metodo }}</ion-col>
          <ion-col>{{ registro.hora }}</ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
  </div>

  <!-- Registros de Salida -->
  <div class="reg-salida">
    <h2>Salida</h2>
    <div>
      <ion-grid>
        <ion-row id="row-header">
          <ion-col>Hora</ion-col>
        </ion-row>
        <ion-row *ngFor="let registro of registrosSalida">
          <ion-col>
            {{ registro.hora }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
<div class="lista-usuarios">
  <h2>Lista de usuarios</h2>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>{{ usuario.usuario }}</ion-label>
      <ion-button (click)="editarUsuario(usuario)" class="btn-editar"><ion-icon name="create"></ion-icon></ion-button>
      <ion-button color="danger" (click)="eliminarUsuario(usuario._id)"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>

  <!-- Formulario de edición -->
  <div *ngIf="editandoUsuario">
    <h2>Editar usuario</h2>
    <ion-item>
      <ion-input label="Usuario" label-placement="floating" fill="outline" type="text" [(ngModel)]="editandoUsuario.usuario" placeholder="Ingrese el usuario a registrar (Nombre-numero de casa)" disabled ></ion-input>
      <ion-input label="Contraseña" label-placement="floating" fill="outline" type="password"[(ngModel)]="editandoUsuario.password" placeholder="Ingrese nueva contraseña" ></ion-input>
    </ion-item>
    <div class="btn-editarU">
      <ion-button fill="clear" (click)="guardarEdicion()" class="btn-abrir">Guardar</ion-button>
      <ion-button fill="clear" (click)="editandoUsuario = null"  class="btn-abrir">Cancelar</ion-button>
    </div>
  </div>
</div>
</ion-content>
