ion-toolbar{
    --background: #313131;
}

ion-content{
    color: rgb(255, 255, 255);
    background-color: #101010;
}

.usuarios:hover,
.placas:hover,
.tarjetas:hover {
    background-color: #151515;
}

.registros:hover{
    background-color: #151515;
}

.lista-usuarios:hover{
    background-color: #151515;
}

/* Estilos para el header */
.header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "titulo control";
    align-items: center;
}

ion-menu ion-toolbar {
    background-color: #313131;
}

ion-menu ion-toolbar ion-title {
    font-size: 16px;
}

.titulo {
    grid-area: titulo;
    display: flex;
    align-items: center; /* Alinea verticalmente el ícono y el texto */
}

.control {
    grid-area: control;
    padding: 3px;
}

.botones {
    display: grid;
    grid-template-columns: 40% 15%;
    grid-template-areas: "btn-abrir exit";
    align-items: center;
    align-items: center;
    justify-content: end;
    justify-items: end;
}

.exit {
    grid-area: exit;
    width: auto;        /* Asegura que el ancho se ajuste al contenido */
    height: auto;       /* Asegura que la altura se ajuste al contenido */
}

.btn-abrir {
    grid-area: btn-abrir;
    border: 1px solid transparent; /* Establece el borde del botón */
    --color: #ffffff;
    font-size: 12px;
}

.btn-abrir:hover {
    background-color: #64c4fc; /* Color con el que quieres que se llene (puedes cambiarlo) */
    --color: #101010;
    border: 1px solid transparent; /* Establece el borde del botón */
    --color: #ffffff;
}

.btn-abrir:hover {
    background-color: #64c4fc; /* Color con el que quieres que se llene (puedes cambiarlo) */
    --color: #101010;
}

h2{
    justify-content: center;
}

.principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Ajusta el tamaño de las columnas */
    grid-template-areas: "usuarios placas tarjetas"; 
}

.placas{
    grid-area: placas;
    padding: 15px;
}

ion-select{
    width: 101%;
    padding-left: 5px;
}

.usuarios {
    grid-area: usuarios;
    padding: 15px;
}


.tarjetas{
    grid-area: tarjetas;
    padding: 15px;
}

#btnInicio {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    font-size: 13px;
    --background: #0000; /* Cambia el color de fondo */
    color: rgb(255, 255, 255); /* Cambia el color del texto/ícono */
    position: relative;
    border: 1px solid transparent; /* Establece el borde del botón */
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease, border-color 0.4s ease;
    z-index: 1;
}

#btnInicio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #64c4fc; /* Color con el que quieres que se llene (puedes cambiarlo) */
    transition: width 0.4s ease;
    z-index: -1;
    width: 0%; /* Comienza con un ancho de 0% */
}

#btnInicio:hover {
    color: rgb(255, 255, 255); /* Cambiar color del texto al hacer hover */
    border-color: #d5d5d5; /* Borde de color azul (o el que prefieras) */
}

#btnInicio:hover::before {
    width: 100%; /* Al hacer hover, el color se llena completamente */
}

#icono {
    width: 30px; /* Asegura que ocupe todo el ancho del contenedor */
    width: 30px; /* Asegura que ocupe todo el ancho del contenedor */
    grid-area: exit;
}

ion-input {
    --background: rgba(0, 0, 0, 0) !important; /* Asegura que el fondo del input sea blanco */
    margin: 5px;
}

/* Asegura que el texto de las etiquetas dentro del campo (floating) sea visible */
ion-label {
    font-size: 14px;
}

.cog {
    font-size: 150%; /* Tamaño del ícono */
    vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
}

ion-list{
    background-color:  #111111;
    border-radius: 5%;
    margin: 10px;
}

ion-title {
    display: flex;
    align-items: center; /* Alinea verticalmente el ícono y el texto */
    gap: 8px; /* Espacio entre el ícono y el texto */
    line-height: 36px; /* Ajusta este valor según el tamaño del ícono */
}

ion-item {
    --border-width: 0; /* Elimina el borde inferior */
    --show-full-highlight: 0; /* Desactiva el resaltado completo */
    --inner-border-width: 0; /* Elimina el borde interno */
}

.lista-usuarios{
    padding: 15px;
}

.titulo-con-icono {
    display: flex; /* Activa Flexbox */
    align-items: center; /* Centra verticalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
}

.iconos-registros {
    font-size: 30px; /* Tamaño del ícono */
    margin-left: 10px; /* Espacio entre el texto y el ícono */
}

.btn-guardar {
    --background: #64c4fc; /* Cambiar el color de fondo */
    --border-radius: 10px; /* Bordes redondeados */
  }

.btn-editar {
    --background: #64c4fc; /* Cambiar el color de fondo */

  }
  
ion-input.ion-valid {
    --border-color:  #64c4fc !important; /* Cambia a azul cuando es válido */
    --highlight-color:  #64c4fc !important;  /* Cambia el color de la etiqueta a azul cuando es válido */
    --color: #ffff
}

ion-input.ion-invalid.ion-touched {
    --border-color:  #fa3232 !important; /* Cambia a azul cuando es válido */
    --highlight-color:  #fa3232  !important;  /* Cambia el color de la etiqueta a azul cuando es válido */
}

ion-select.ion-valid {
    --border-color:  #64c4fc !important; /* Cambia a azul cuando es válido */
    --highlight-color:  #64c4fc !important;  /* Cambia el color de la etiqueta a azul cuando es válido */
}

ion-select.ion-invalid.ion-touched {
    --border-color:  #fa3232 !important; /* Cambia a rojo cuando es inválido */
    --highlight-color:  #fa3232  !important;  /* Cambia el color de la etiqueta a rojo cuando es inválido */
}

.registros {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espacio entre las secciones de entrada y salida */
    padding: 15px;
    width: 100%;
    height: auto; /* Altura fija para el contenedor de registros */
}

/* Estilos para las secciones de entrada y salida */
.reg-entrada,
.reg-salida {
    padding: 10px;
    border-radius: 5px;
    width: 100%; /* Cada sección ocupa la mitad del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor padre */
}

/* Estilos para las listas de registros */
ion-list {
    background-color: #111111;
    border-radius: 5px;
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el padding predeterminado */
}

/* Estilos para los elementos de la lista */
ion-item {
    --background: transparent; /* Fondo transparente */
    --padding-start: 10px; /* Espaciado interno */
    --padding-end: 10px;
    --inner-padding-end: 0;
    --border-width: 0; /* Elimina el borde inferior */
    margin-bottom: 5px; /* Espacio entre elementos */
}

/* Estilos para las etiquetas de los registros */
ion-label {
    font-size: 14px; /* Tamaño de la fuente */
    color: #ffffff; /* Color del texto */
    white-space: normal; /* Permite que el texto se ajuste a varias líneas */
}

/* Estilos para las listas de registros */
ion-list {
    background-color:#313131;
    border-radius: 5px;
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el padding predeterminado */
}

ion-grid{
    background-color:#313131;
    border-radius: 5px;
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el padding predeterminado */
}

ion-col{
    border: 1px solid #000000;
    padding: 10px;
}

#row-header{
    background-color: #64c4fc;
}
/* Estilos para los elementos de la lista */
ion-item {
    --background: transparent; /* Fondo transparente */
    --padding-start: 10px; /* Espaciado interno */
    --padding-end: 10px;
    --inner-padding-end: 0;
    --border-width: 0; /* Elimina el borde inferior */
    margin-bottom: 5px; /* Espacio entre elementos */
}

/* Estilos para las etiquetas de los registros */
ion-label {
    font-size: 14px; /* Tamaño de la fuente */
    color: #ffffff; /* Color del texto */
    white-space: normal; /* Permite que el texto se ajuste a varias líneas */
}

ion-menu {
    width: 400px; /* Ajusta el ancho del menú */
  }

  ion-menu ion-content {
   background-color: #101010;
   width: 400px;
  }

.btn-editarU {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; 
} 
// Ocultar menú hamburguesa en escritorio
.mobile-menu {
    display: none;
  }

@media (max-width: 800px) {
    
    .control {
        display: none;
      }
    
    .mobile-menu {
        display: block
      }

    .titulo ion-title {
        font-size: 16px;
    }

    .principal {
        grid-template-columns: 100%; /* Ajusta el tamaño de las columnas */
        grid-template-areas: "usuarios" "placas" "tarjetas"; 
    }

    .registros { 
        flex-direction: column;
        height: auto;
    }

    .reg-entrada {
        height: 100%;
    }
    
    .reg-salida {
        height: 100%;
    }
} 